/*HEADER STRUCTURE*/

.navbar {
    background-color: #255EE9;
}

/* .navbar .container {
    background-color: #08fc3d;
} */

.jumbo {
    background-color: #00008B;
}

/* .jumbo .content {
    background-color: #EE82EE;
    min-height: 250px;
} */