/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL SETTINGS*/

html {
    font-family: 'Whitney', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.btn {
    font-family: 'Whitney', sans-serif;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 9em;
    white-space: nowrap;
}

.btn:hover {
    cursor: pointer;
}

.wave {
    width: 100%;
    display: block;
    opacity: 17%;
}

.wave.bottom {
    transform: rotateX(180deg) rotateY(180deg);
}

/*START HEADER*/

.navbar {
    background-color: #255EE9;
    height: 4rem;
}

.main-list .container {
    height: 100%;
}

.main-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

.nav-center > a {
    padding-inline: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: right;
    color: rgb(255, 255, 255);
    text-align: center;
}

.jumbo .content {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.jumbo h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.jumbo p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.btn-jumbo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-jumbo-dark {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/*START MAIN*/

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-feature .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.box-left > img {
    display: block;
    object-fit: cover;
    min-width: 10%;
}

.box-right {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.box-right > h2 {
    padding-bottom: 1rem;
}

.section-feature.reverse .container {
    flex-direction: row-reverse;
}

.bkg-gray {
    background-color: lightgray; 
}

.section-full .container {
    text-align: center;
}

.container > h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.container > p {
    text-align: center;
    font-size: 1.2rem;
}

.btn-mac {
    background-color: #7289DA;
    color: rgb(255, 255, 255);
    padding: 20px 25px;
}

h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

/*START FOOTER*/

footer {
    background-color: #23272A;
	padding-top: 3.5rem;
	padding-bottom: 2.5rem;
}

.social-icon {
	color: rgb(255, 255, 255);
}

.footer-top {
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid  #7289DA;
}

.column-socials {
	flex: 1 0 30%;
}

.column-links {
	flex: 0 0 20%;
}

h4, li {
	margin-bottom: 1rem;
}

.footer-column > h3 {
    color: #7289DA;
}

h4 {
    color: #7289DA;
}

span, li {
	color: rgb(255, 255, 255);
}

li {
	list-style: none;
}

.flag-it {
    height: 1rem;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.footer-column .socials > i {
    font-size: 1.5em;
    padding-right: .5rem;
}

.btn-footer {
    background-color: #7289DA;
    color: rgb(255, 255, 255);
}